.main {
  justify-content: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.typewriter{
  color: black;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2%;
  font-weight: bolder;
}

.card {
  width: 50rem;
  height: 33rem;
}
.card:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 2em; 
  border: 1rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
}