.card {

  justify-content: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 0%;
  width: 40.75rem;
  height: 30.5rem;
}
.card:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid white;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  transform: rotate(-90deg);
  left: 0;
  top: -1.2rem;
}