.navbar {
    width: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: none;
    justify-content: flex-start;
    background-color: var(--navBg);
    backdrop-filter: blur(5px);
}

.items {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    align-items:last baseline;
}

.activeItem {
    margin-inline: 5%;
    position: relative;
    padding: 0.5rem; 
    color: var(--icn); 
    background-color: none;
    transition: 0.3s ease-in;
    display: inline-flex;
}

.icons {
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.themeChange {
    margin-top: 4rem;
    display: flex;
    margin-inline: 5%;
    text-align: center;
    transition: all 0.1s ease;
}

.buttons {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.bubble {
    position: absolute;
    width: 10%;
    display: flex;
    inset: 0;
    z-index: 1;
    background-color: var(--icn); 
    mix-blend-mode: normal;
}